
body {
	margin: 0;
}
/*Below section styles the header navigation bar*/	
#headerBar {
	background-color: blue;
	height: 100px;
	padding-bottom: 0px;
	border-bottom: solid #8c8c8c;
	border-bottom-width: 2px;
	position: relative;
}

#headerContentWrapper {
	background-color: white;
	width: 960px;
	height: 80px;
	position: absolute;
	bottom: 0;
	margin-left: 425px;

}

#headerName {
	background-color: #4aaaa5;
	height: 80px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

#name {
	color: white;
	font-family: 'Georgia';
}

#headerNavLinks {
	margin-left: 275px;
	float: left;
}

/*This following section styles nav links in global header to be inline*/
#headerLink {
	list-style-type: none;
}

/*This following section styles nav links in global header to have pipe dividers*/
li {
	display: inline;
	border-right: 1px solid black; padding: 0 1em;
}

/*This following section removes the pipe divdier from far right nav links in global header*/
ul li:last-child { 
	border: 0; 
}

/*This following section styles font color nav links in global header and removes underline*/
li a {
	text-decoration: none;
	color: #777777
}




/*Below section styles the content background section*/	
#bodyBackground {
	background-image: url("../images/cork-wallet.png");
	/*min-height allows background height to adjust to content*/
	min-height: 600px;
	display: flex;
	
}

#contentWrapper {

	max-width: 1000px;
	min-height:100px;
	margin: auto;

}

#mainContent {
	width: 610px;
	min-height: 100px;
	background-color: white;
	float: left;
	padding: 20px 20px 20px 20px;
}

#linkModule {
	width: 230px;
	min-height: 100px;
	background-color: #ffffff;
	float: left;
	margin-left: 40px;
	border-color: #dddddd;
	padding: 20px 20px 20px 20px;
	

}

#linkGroup {
	margin: auto;

}

#AboutMe {
	color: #4aaaa5;
	font: Arial;
}

#profile {
	/*float left all the text to flow to the right of the image*/
	float: left;
	margin-right: 30px;
}

#Connect {
	color: #4aaaa5;
	font: Arial;
	margin: auto;
}

.social {
	float: left;
	margin: 5px;
	height: 50px;
	width: 50px;
}


#footerBar {
	height: 75px; 
	background-color: #666666;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	border-top-width: 5px;
	display: flex;
	
}

#footerContent {
	color: #777777;
	margin: auto;
}